[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "py-pilecore"
version = "0.8.1"
description = "Public python SDK for the CEMS PileCore web-API."
requires-python = ">=3.9"
dependencies = [
    'pygef>0.8,<1',
    'numpy>1,<2',
    'pandas>2,<3',
    'cems-nuclei[client]>=1,<2',
    'matplotlib>=3.8,<4',
    "tqdm[notebook]>4,<5",
    "natsort>8,<9",
    "shapely>=2,<3",
    "scipy>=1.13, <2",
    "ipywidgets>=8, <9",
    "dash>=2.17, <3",
    "plotly-geo>=1.0.0, <2",
]
license = { file = "LICENSE" }
readme = "README.md"
keywords = ["API", "PileCore", "CEMS", "CRUX"]

[project.urls]
repository = "https://github.com/cemsbv/py-pilecore"

[project.optional-dependencies]
test = ["coveralls", "pytest", "openapi-core"]
docs = [
    "Sphinx==6.1.3",
    "sphinx-autodoc-typehints==1.22",
    "ipython==8.11.0",
    "asteroid-sphinx-theme==0.0.3",
    "sphinx_rtd_theme==1.2.0",
]
# lint dependencies from github super-linter
# See https://github.com/super-linter/super-linter/tree/main/dependencies/python
# Get a file with the latest requirements by running bash: `./get-super-linter-requirements.sh`
# ignoring because redundant: snakemake, snakefmt, pylint
lint = [
    "ansible-lint==6.22.1",
    "black==23.11.0",
    "cfn-lint==0.83.3",
    "cpplint==1.6.1",
    "flake8==6.0.0",
    "isort==5.12.0",
    "mypy==1.7.1",
    "sqlfluff==2.3.5",
    "yamllint==1.33.0",
    "yq==3.2.3",
]

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88

[tool.mypy]
files = ["src/pypilecore"]
mypy_path = 'src'
namespace_packages = true
show_error_codes = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true
disallow_subclassing_any = true
no_implicit_optional = true
disallow_untyped_defs = true
disallow_any_generics = false
disallow_untyped_calls = true
warn_return_any = false
no_implicit_reexport = true
strict_equality = true
install_types = true

[[tool.mypy.overrides]]
module = [
    "matplotlib.*",
    "requests.*",
    "nuclei.*",
    "pygef.*",
    "natsort.*",
    "shapely.*",
    "pytest.*",
    "scipy.*",
    "numpy.*",
    "pandas.*",
    "IPython.*",
    "plotly.*",
    "ipywidgets.*",
]
ignore_missing_imports = true
