name: Test

on:
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest
    if: github.actor != 'renovate[bot]'
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v6

      - name: Install python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # shellcheck disable=SC2102
          pip install -e .[test]

      - name: Test
        run: coverage run -m pytest

      - name: Post coverage results
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-${{ matrix.python-version }}
          parallel: true

  finish:
    needs: test
    if: ${{ always() && github.actor != 'renovate[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true

  lint:
    name: Formatting check
    runs-on: ubuntu-latest
    if: github.actor != 'renovate[bot]'
    steps:
      - uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper list of changed test_files within `super-linter`
          fetch-depth: 0

      - name: Load super-linter config
        run: grep -v '^#' .github/super-linter.env >> "$GITHUB_ENV"

      - name: Lint
        uses: super-linter/super-linter@v8
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test_docs:
    name: Test docs
    runs-on: ubuntu-latest
    if: github.actor != 'renovate[bot]'
    steps:
      - uses: actions/checkout@v6

      - name: Install xmllint
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-dev libxslt-dev

      - name: Install python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install .

      - name: Build docs
        run: sphinx-build -b html docs public
